.main_body {
  height: 100vh;
  width: 100vw;
  background-color: #588157;
  display: flex;
  border-radius: 30px;
  background: rgb(88, 129, 87);
  background: linear-gradient(
    50deg,
    rgba(88, 129, 87, 1) 0%,
    rgba(30, 42, 62, 1) 100%
  );
}
