a {
  text-decoration: none;
}

.button_body {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  color: #344e41;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px auto;
  transition: all 0.2s ease;
  background-color: #a3b18a00;
}

.button_body.active {
  background-color: rgba(163, 177, 138, 1);
  color: #dad7cd;
  transform: scale(1.05);
}

.button_body:hover {
  color: #dad7cd;
}

.button_title {
  margin: 4px auto;
  font-weight: 600;
  font-size: 14px;
}
